azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Ingest-CanaryTokens",
            "type":  "string"
        }
    },
    "variables":  {
        "AzureloganalyticsdatacollectorConnectionName":  "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "manual":  {
                            "type":  "Request",
                            "kind":  "Http",
                            "inputs":  {
                                "method":  "POST",
                                "schema":  {
                                    "type":  "object",
                                    "required":  [
                                        "memo",
                                        "token"
                                    ],
                                    "minProperties":  5,
                                    "properties":  {
                                        "channel":  {
                                            "type":  "string"
                                        },
                                        "token_type":  {
                                            "type":  "string"
                                        },
                                        "src_ip":  {
                                            "type":  "string"
                                        },
                                        "token":  {
                                            "type":  "string"
                                        },
                                        "time":  {
                                            "type":  "string"
                                        },
                                        "memo":  {
                                            "type":  "string"
                                        },
                                        "manage_url":  {
                                            "type":  "string"
                                        },
                                        "additional_data":  {
                                            "type":  "object",
                                            "properties":  {
                                                "geo_info":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                        "loc":  {
                                                            "type":  "string"
                                                        },
                                                        "org":  {
                                                            "type":  "string"
                                                        },
                                                        "city":  {
                                                            "type":  "string"
                                                        },
                                                        "country":  {
                                                            "type":  "string"
                                                        },
                                                        "region":  {
                                                            "type":  "string"
                                                        },
                                                        "hostname":  {
                                                            "type":  "string"
                                                        },
                                                        "ip":  {
                                                            "type":  "string"
                                                        },
                                                        "timezone":  {
                                                            "type":  "string"
                                                        },
                                                        "postal":  {
                                                            "type":  "string"
                                                        },
                                                        "asn":  {
                                                            "type":  "object",
                                                            "properties":  {
                                                                "route":  {
                                                                    "type":  "string"
                                                                },
                                                                "type":  {
                                                                    "type":  "string"
                                                                },
                                                                "asn":  {
                                                                    "type":  "string"
                                                                },
                                                                "domain":  {
                                                                    "type":  "string"
                                                                },
                                                                "name":  {
                                                                    "type":  "string"
                                                                }
                                                            }
                                                        },
                                                        "continent":  {
                                                            "type":  "string"
                                                        }
                                                    }
                                                },
                                                "useragent":  {
                                                    "type":  "string"
                                                },
                                                "request_headers":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                        "Host":  {
                                                            "type":  "string"
                                                        },
                                                        "X-Real-Ip":  {
                                                            "type":  "string"
                                                        },
                                                        "X-Forwarded-For":  {
                                                            "type":  "string"
                                                        },
                                                        "X-Forwarded-Host":  {
                                                            "type":  "string"
                                                        },
                                                        "Connection":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Ch-Ua":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Ch-Ua-Mobile":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Ch-Ua-Platform":  {
                                                            "type":  "string"
                                                        },
                                                        "DNT":  {
                                                            "type":  "string"
                                                        },
                                                        "Upgrade-Insecure-Requests":  {
                                                            "type":  "string"
                                                        },
                                                        "User-Agent":  {
                                                            "type":  "string"
                                                        },
                                                        "Accept":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Gpc":  {
                                                            "type":  "string"
                                                        },
                                                        "Accept-Language":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Fetch-Site":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Fetch-Mode":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Fetch-User":  {
                                                            "type":  "string"
                                                        },
                                                        "Sec-Fetch-Dest":  {
                                                            "type":  "string"
                                                        },
                                                        "Accept-Encoding":  {
                                                            "type":  "string"
                                                        }
                                                    }
                                                },
                                                "request_args":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                    }
                                                },
                                                "additional_info":  {
                                                    "type":  "object",
                                                    "properties":  {
                                                    }
                                                },
                                                "time_hm":  {
                                                    "type":  "string"
                                                },
                                                "time_ymd":  {
                                                    "type":  "string"
                                                }
                                            }
                                        },
                                        "public_domain":  {
                                            "type":  "string"
                                        }
                                    }
                                }
                            },
                            "conditions":  [
                                {
                                    "expression":  "@equals(triggerOutputs()?['body']?['additional_data']?['request_headers']?['X-Forwarded-Host'],'canarytokens.org')"
                                }
                            ],
                            "operationOptions":  "EnableSchemaValidation"
                        }
                    },
                    "actions":  {
                        "Compose_data_for_Sentinel":  {
                            "runAfter":  {
                                "HTTP_CanaryTokenDetails":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  {
                                "as":  "@{triggerBody()?['additional_data']?['geo_info']?['asn']?['asn']}",
                                "canarytriggertime":  "@triggerBody()?['time']",
                                "channel":  "@{triggerBody()?['channel']}",
                                "city":  "@{triggerBody()?['additional_data']?['geo_info']?['city']}",
                                "country":  "@{triggerBody()?['additional_data']?['geo_info']?['country']}",
                                "countrycode":  "@{triggerBody()?['additional_data']?['geo_info']?['country']}",
                                "fileloc":  "@{triggerBody()?['additional_data']?['geo_info']?['loc']}",
                                "incidentlist_csv":  "@{body('Parse_JSON')?['incidentscsv_url']}",
                                "incidentlist_json":  "@{body('Parse_JSON')?['incidentsjson_url']}",
                                "lat":  "@body('Parse_JSON')?['lat']",
                                "lon":  "@body('Parse_JSON')?['lon']",
                                "manage_url":  " @{triggerBody()?['manage_url']}",
                                "memo":  "@{triggerBody()?['memo']}",
                                "org":  "@{triggerBody()?['additional_data']?['geo_info']?['org']}",
                                "postal":  "@{triggerBody()?['additional_data']?['geo_info']?['postal']}",
                                "region":  "@{triggerBody()?['additional_data']?['geo_info']?['region']}",
                                "regionname":  "@{triggerBody()?['additional_data']?['geo_info']?['region']}",
                                "src_ip":  "@{triggerBody()?['src_ip']}",
                                "timezone":  "@{triggerBody()?['additional_data']?['geo_info']?['timezone']}",
                                "token_type":  "@{triggerBody()?['token_type']}",
                                "tokenhistory_url":  "@{body('Parse_JSON')?['history_url']}",
                                "useragent":  "@{triggerBody()?['additional_data']?['useragent']}"
                            }
                        },
                        "HTTP_CanaryTokenDetails":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "uri":  "@body('Parse_JSON')?['incidentsjson_url']",
                                "method":  "GET"
                            }
                        },
                        "Send_Data":  {
                            "runAfter":  {
                                "Compose_data_for_Sentinel":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['AzureLogAnalyticsDataCollector']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  "@{outputs('Compose_data_for_Sentinel')}",
                                "headers":  {
                                    "Log-Type":  "CanaryTokens_CL"
                                },
                                "path":  "/api/logs"
                            }
                        },
                        "Initialize_variable_TokenAuth":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "TokenAuth",
                                        "type":  "string",
                                        "value":  "@{substring(triggerBody()?['manage_url'], 38)}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                                "Initialize_variable_TokenAuth":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  {
                                    "incidentscsv_url":  "https://canarytokens.org/download?fmt=incidentlist_csv\u0026token=@{variables('TokenAuth')}",
                                    "history_url":  "https://canarytokens.org/history?token=@{variables('TokenAuth')}",
                                    "incidentsjson_url":  "https://canarytokens.org/download?fmt=incidentlist_json\u0026token=@{variables('TokenAuth')}",
                                    "lat":  "@float(split(triggerBody()?['additional_data']?['geo_info']?['loc'],',')[0])",
                                    "lon":  "@float(split(triggerBody()?['additional_data']?['geo_info']?['loc'],',')[1])"
                                },
                                "schema":  {
                                    "type":  "object",
                                    "properties":  {
                                        "incidentscsv_url":  {
                                            "type":  "string"
                                        },
                                        "history_url":  {
                                            "type":  "string"
                                        },
                                        "incidentsjson_url":  {
                                            "type":  "string"
                                        },
                                        "lat":  {
                                            "type":  "number"
                                        },
                                        "lon":  {
                                            "type":  "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "AzureLogAnalyticsDataCollector":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        }
    ]
}
